body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(224, 186, 79);
    padding: 0 1.5rem;
}

.main-header_item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header_item {
    margin: 0 1rem;
    padding: 0;
}

.main-header_item a {
    text-decoration: none;
    color: black;
}

.main-header_nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active {
    color: rgb(189, 119, 247);
}

.centered {
    text-align: center;
}

.grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    column-gap: 25px;
    row-gap: 15px;
}

.card {
    padding: 10px;
    box-shadow: 0 4px 8px  #c5c5c5, 0 6px 20px 0px #d4d4d4;
}

.card_image img{
    height: auto;
    width: 100%;
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea{
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid  rgb(224, 186, 79);
    font: inherit;
    border-radius: 2px;
}

button, .link-button{
    font: inherit;
    border: 1px solid rgb(189, 119, 247);
    color: rgb(189, 119, 247);
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active,
.link-button:hover {
    background-color: rgb(189, 119, 247);
    color: white;
}

a {
    text-decoration: none;
    padding: 1px 6px;
}

.detail-img {
    width: 40vw;
    height: auto;
}

.btn{
    float: left;
}

.float-right {
    float: right;
}

.cart-btn {
    display: block;
}

.admin-flex{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.admin-left img{
    width: 30vw;
    height: auto;
}

.card_content_admin {
    margin: 0 15px;
    width: 25vw;
}

.card_image_admin {
    display: block;
}

.product_title {
    display: block;
}

.flex-card {
    display: flex;
}