:root {
    --primary-dark: #183251;
    --primary-light: #C4CBD8;
    --primary-light-contrast: #dce6f6;
    --text-hover: #C8C4C4;
    --box-shadow-blue: #597F97;
    --box-shadow-grey: #6C747C;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: var(--primary-light-contrast);
}

main {
    padding: 1rem;
}

ul {
    list-style: none;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: var(--primary-dark);
}

.main-header_item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header_item {
    margin: 0 1rem;
    padding: 0;
}

.main-header_item a {
    text-decoration: none;
    color: var(--box-shadow-grey);
}

.main-header_nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active {
    color: var(--text-hover);
}

.centered {
    text-align: center;
}

.grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    column-gap: 25px;
    row-gap: 15px;
}

.card {
    padding: 10px;
    box-shadow: 0 4px 8px  var(--box-shadow-grey), 0 6px 20px 0px var(--primary-light);
    background-color: white;
}

.card_image img{
    height: auto;
    width: 100%;
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea{
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid var(--primary-dark);
    font: inherit;
    border-radius: 2px;
}

button, .link-button{
    font: inherit;
    border: 1px solid var(--primary-dark);
    color: var(--primary-dark);
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active,
.link-button:hover {
    background-color: var(--primary-dark);
    color: white;
}

a {
    text-decoration: none;
    padding: 1px 6px;
}

.detail-img {
    width: 40vw;
    height: auto;
}

.btn{
    float: left;
}

.float-right {
    float: right;
}

.cart-btn {
    display: block;
}

.admin-flex{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.admin-left img{
    width: 30vw;
    height: auto;
}

.card_content_admin {
    margin: 0 15px;
    width: 25vw;
}

.card_image_admin {
    display: block;
}

.product_title {
    display: block;
}

.flex-card {
    display: flex;
}

.text-medium {
    font-size: 24px;
}

.text-large {
    font-size: 36px;
}

.inline-item {
    display: inline;
}

.cart-item-quantity {
    float: right;
    margin-right: 50vw;
}

.cart-list-item {
    margin-bottom: 25px;
}